:root{
    --primaryColor: #8c52ff;
    --seconderyColor:#e8e8e8;
    --primaryText: #e8e8e8;
    --seconderyText: #b5b4b4;
    --dividerColor: #e5e5e5;
    --heroColor: rgb(140, 82, 255,0.5);
    --buttonText: #a070ff;
    --hoverColor: #bdbdbd;
    --footerColor: #774ab5e6;
}

/* Clases utiles */
.tittle{
    margin-bottom: 32px;
    font-family: sans-serif;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}


/* Comienzo */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 20px;
}

body{
    background:var(--seconderyColor);
    font-family: sans-serif;
}

.hero{
    background-image: linear-gradient(to top, rgba(112, 40, 228, 0.750) 0%, rgba(229, 178, 202, 0.750) 100%), url(/assets/togiExterior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    min-height: 910px;
    position: relative;
    overflow: hidden;
}

.textsHero{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textsHero h1{
    color: var(--primaryText);
    font-size: 4.25rem;
    font-family:sans-serif;
}

.textsHero p{
    margin-bottom: 30px;
    color: var(--primaryText);
    font-size: 2rem;
    font-family:sans-serif;
}

.textsHero a{
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--seconderyColor);
    color: var(--buttonText);
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
}

.textsHero a:hover{
    background-color: var(--hoverColor);
    cursor: pointer;
}

.waveHero{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* Estilos generales */

.container,
.about-us{
    margin: auto;
    padding: 0 0 80px 0;
    width: 100%;
    overflow: hidden;
}

.container{
    padding: 80px 0;
}



/* About Us */

.about-us-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}


.pictures-togi{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us img{
    margin-left: 5%;
    width: 45%;
    border-radius: 10px;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .3);
}

.video-togi{
    width: 45%;
}

.containerTextsMain{
    margin: 0 auto;
    padding-bottom: 80px;
    width: 90%;
}

p{
    line-height: 1.4;
    letter-spacing: .8px;
}





/* Info products */

.infoProducts .container{
    background-color: var(--dividerColor);
    border-radius: 10px;
}

.infoProducts .container{
    width: 100%;
}

.containerProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerProducts .product{
    margin: 30px 50px;
    padding: 50px 0 0 0;
    background-color: var(--seconderyColor);
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1000ms;
    border: 3px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: -1px 5px 20px rgba(0, 0, 0 , 20%);

}

.containerProducts .product img{
    margin: 0 auto;
    width: 55%;
    height: 65%;
    filter: drop-shadow(-5px 14px 10px rgba(0, 0, 0, .3));
    object-fit:cover;
}

.containerProducts .product img:hover{
    transition: all 1000ms;
    filter: drop-shadow(-5px 45px 6px rgba(0, 0, 0, .4));
    scale: 1.5;
    cursor: pointer;
}

.containerProducts .product h4{
    margin-top: 40px;
    padding: 5px 35px;
    /* color: var(--footerColor); */
    width: 100%;
    height:40%;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, .1);
}


/* Brands */
.brands{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.brands-container{
    display: flex;
    justify-content: space-evenly;
}

.brands-container h3{
    margin-bottom: 65px;
}

.brands-container img{
    padding: 8px;
    width: 12%;
    height: 10%;
    filter: drop-shadow(-3px 4px 3px rgba(0,0,0,.3));
}

.brands-container img:nth-child(4){
    width: 6%;

}



/* Services */

.container.services{
    margin-bottom: 80px;
    background-color: var(--dividerColor);
    width: 100%;
    min-height: 600px;
}

.content-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-cards .card{
    margin: 30px;
    padding: 20px 40px;
    background-color: var(--seconderyColor);
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transition: all 500ms;
}

.content-cards .card img{
    max-width: 100px;
    margin: 35px;
}

.content-cards .card h3{
    margin-bottom: 8px;
    text-transform: uppercase;
}

.content-cards .card p{
    margin-bottom: 20px;
    padding: 2px;
}

.content-cards .card a{
    margin: 20px;
    padding: 10px 15px;
    background-color: var(--primaryColor);
    color: var(--primaryText);
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, .3);
}

.content-cards .card:hover{
    box-shadow: -5px 25px 10px rgba(0, 0, 0, .2);
}

.content-cards .card a:hover{
    background-color: #b08afc;
    cursor: pointer;
}



/* Footer */

#footer-contact .container-footer{
    height: 500px;
    background-color: var(--footerColor);
    color: var(--primaryText);
    overflow: hidden;
}

.container-footer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.form-contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form-contact h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.form-contact h4{
    margin: 20px;
    color: var(--seconderyText);
    font-size: .8rem;
}

.contact-us{
    padding: 20px;
    width: 70%;
    border: 2px solid var(--seconderyColor);
    border-radius: 90px 0 90px 0;
    overflow: hidden;
}

.form-contact .contact-us input{
    padding: 10px;
    margin: 15px;
    width: 90%;
    min-height: 40px;
    font-size: .8rem;
    border: 3px solid var(--buttonText);
    border-radius: 10px;
}

.form-contact .contact-us button{
    margin: 30px 0;
    width: 90%;
    height: 50px;
    background-color: var(--seconderyColor);
    color: var(--primaryColor);
    font-size: 1rem;
    border: 1px solid var(--buttonText);
    border-radius: 10px;
}

.form-contact .contact-us button:hover{
    background-color: var(--hoverColor);
    cursor: pointer;
}

.information{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-medias{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-medias h3{
    text-transform: uppercase;
}

.container-medias h4{
    margin-top: 10px;
    color: var(--seconderyText);
    font-size: .9rem;
}

.medias{
    display: flex;
    flex-direction: column;
}

.medias svg{
    margin: 15px 5px;
    padding: 5px;
    width: 70px;
    height: 70px;

}

.medias svg:hover{
    background-color: var(--hoverColor);
    border: 0 solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn-whatsapp:hover{
    background-color: var(--hoverColor);
    border: 0 solid;
    border-radius: 10px;
    cursor: pointer;
}

.location{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.location h4{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.location iframe{
    margin-top: 30px;
    border-radius: 10px;
}

.copyright{
    width: 100%;
    height: 10%;
    background-color: var(--footerColor);
    color: var(--primaryText);
    display: flex;
    justify-content: flex-end;
}

.copyright p{
    margin: 10px 50px;
    font-size: .7rem;
}
